<h1 class="text-3xl">The UI Debugger of All Time</h1>
<p>Im a paragraph words words words words words words words words words words </p>

<p-gentle>I am a gentle P</p-gentle>
<p-gentle>I am a better gentle P</p-gentle>

<span-gentle>I am a gentle span.</span-gentle>
<span-gentle>I am also a gentle span</span-gentle>
<span>I may be span but i am not gentle</span>

<divider></divider>

<h2 class="text-2xl">Buttons, basically</h2>

<primary-button text="Primary button"></primary-button>
<secondary-button text="Secondary button"></secondary-button>
<dangerous-button text="Dangerous button"></dangerous-button>

<divider></divider>
<h2 class="text-2xl">I can't believe it isn't Notification!</h2>

<primary-button text="Show Success Banner" (click)="successBanner()"></primary-button>
<primary-button text="Show Warning Banner" (click)="warnBanner()"></primary-button>
<primary-button text="Show Error Banner" (click)="errorBanner()"></primary-button>
