# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build, Test, and Upload Builds
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - name: Restore
      run: dotnet restore
    - name: Test
      run: dotnet test -c Release --verbosity normal
      
    - name: Publish for Linux x64
      run: dotnet publish -c Release -r linux-x64 --self-contained Refresh.GameServer
      
    - name: Publish for Windows x64
      run: dotnet publish -c Release -r win-x64 --self-contained Refresh.GameServer
      
    - name: Upload Linux x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: "Refresh for Linux x64"
          path: "Refresh.GameServer/bin/Release/net7.0/linux-x64/publish/"
          if-no-files-found: error
          retention-days: 30
          
    - name: Upload Windows x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: "Refresh for Windows x64"
          path: "Refresh.GameServer/bin/Release/net7.0/win-x64/publish/"
          if-no-files-found: error
          retention-days: 30