# https://acraven.medium.com/a-nuget-package-workflow-using-github-actions-7da8c6557863
name: Create new release from pushed tag

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    name: Build & release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore
        run: dotnet restore
      - name: Publish for Linux x64
        run: dotnet publish -c Release -r linux-x64 --self-contained Refresh.GameServer
      - name: Publish for Windows x64
        run: dotnet publish -c Release -r win-x64 --self-contained Refresh.GameServer
      #      - name: Test
      #        run: dotnet test -c Release --no-restore --no-build
      - name: Zip up package for Linux x64
        run: zip -rj Refresh-Linux-x64.zip Refresh.GameServer/bin/Release/net7.0/linux-x64/publish/
      - name: Zip up package for Windows x64
        run: zip -rj Refresh-Windows-x64.zip Refresh.GameServer/bin/Release/net7.0/windows-x64/publish/
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: true
          draft: true
          files: |
            *.zip